* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5C2D9;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body .logo {
  border-radius: 50%;
}

.contenedorindex header {
  background: linear-gradient(#d27fc4, #E5C2D9);
  padding: 1.5rem;
  display: flex;
  grid-area: header;
  justify-content: space-around;
}
.contenedorindex header img {
  width: 170px;
}
.contenedorindex header .navbar {
  font-family: cursive;
  font-size: larger;
}
.contenedorindex main .intro {
  font-family: cursive;
  font-size: 30px;
  margin: 5%;
}
.contenedorindex main .carousel {
  width: 700px;
}
.contenedorindex footer {
  background: linear-gradient(#E5C2D9, #d27fc4);
  color: #000000;
}
.contenedorindex footer h4 img {
  width: 50px;
  border-radius: 50%;
}
.contenedorindex footer h4 {
  padding: 10px;
  display: inline-block;
}
.contenedorindex footer .pie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "horario contacto";
  font-family: cursive;
}
.contenedorindex footer .pie .contacto {
  grid-area: contacto;
}
.contenedorindex footer .pie .horario {
  grid-area: horario;
  padding: 1rem;
}

.contenedorservicios header {
  background: linear-gradient(#d27fc4, #E5C2D9);
  padding: 1.5rem;
  display: flex;
  grid-area: header;
  justify-content: space-around;
}
.contenedorservicios header img {
  width: 170px;
}
.contenedorservicios header .navbar {
  font-family: cursive;
  font-size: larger;
}
.contenedorservicios main .servicio {
  font-family: cursive;
  margin: 15px;
  padding: 15px;
}
.contenedorservicios main .servicios {
  font-family: cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contenedorservicios main .card:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}
.contenedorservicios main .card {
  width: 350px;
}
.contenedorservicios footer {
  background: linear-gradient(#E5C2D9, #d27fc4);
  color: #000000;
}
.contenedorservicios footer h4 img {
  width: 50px;
  border-radius: 50%;
}
.contenedorservicios footer h4 {
  padding: 10px;
  display: inline-block;
}
.contenedorservicios footer .pie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "horario contacto";
  font-family: cursive;
}
.contenedorservicios footer .pie .contacto {
  grid-area: contacto;
}
.contenedorservicios footer .pie .horario {
  grid-area: horario;
  padding: 1rem;
}

.contenedornosotras header {
  background: linear-gradient(#d27fc4, #E5C2D9);
  padding: 1.5rem;
  display: flex;
  grid-area: header;
  justify-content: space-around;
}
.contenedornosotras header img {
  width: 170px;
}
.contenedornosotras header .navbar {
  font-family: cursive;
  font-size: larger;
}
.contenedornosotras main .nosotras {
  font-family: cursive;
  padding: 20px;
}
.contenedornosotras footer {
  background: linear-gradient(#E5C2D9, #d27fc4);
  color: #000000;
}
.contenedornosotras footer h4 img {
  width: 50px;
  border-radius: 50%;
}
.contenedornosotras footer h4 {
  padding: 10px;
  display: inline-block;
}
.contenedornosotras footer .pie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "horario contacto";
  font-family: cursive;
}
.contenedornosotras footer .pie .contacto {
  grid-area: contacto;
}
.contenedornosotras footer .pie .horario {
  grid-area: horario;
  padding: 1rem;
}

.contenedorpreguntas header {
  background: linear-gradient(#d27fc4, #E5C2D9);
  padding: 1.5rem;
  display: flex;
  grid-area: header;
  justify-content: space-around;
}
.contenedorpreguntas header img {
  width: 170px;
}
.contenedorpreguntas header .navbar {
  font-family: cursive;
  font-size: larger;
}
.contenedorpreguntas main .preguntas {
  font-family: cursive;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.contenedorpreguntas main .lista {
  font-family: cursive;
  font-size: 30px;
}
.contenedorpreguntas footer {
  background: linear-gradient(#E5C2D9, #d27fc4);
  color: #000000;
}
.contenedorpreguntas footer h4 img {
  width: 50px;
  border-radius: 50%;
}
.contenedorpreguntas footer h4 {
  padding: 10px;
  display: inline-block;
}
.contenedorpreguntas footer .pie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "horario contacto";
  font-family: cursive;
}
.contenedorpreguntas footer .pie .contacto {
  grid-area: contacto;
}
.contenedorpreguntas footer .pie .horario {
  grid-area: horario;
  padding: 1rem;
}

.contenedoriniciar header {
  background: linear-gradient(#d27fc4, #E5C2D9);
  padding: 1.5rem;
  display: flex;
  grid-area: header;
  justify-content: space-around;
}
.contenedoriniciar header img {
  width: 170px;
}
.contenedoriniciar header .navbar {
  font-family: cursive;
  font-size: larger;
}
.contenedoriniciar main .iniciar {
  font-family: cursive;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 20px;
}
.contenedoriniciar main .iniciar .form-control {
  width: 300px;
}
.contenedoriniciar main .iniciar .recuerdame {
  display: flex;
  flex-direction: row;
}
.contenedoriniciar main .iniciar .form-label {
  font-size: 30px;
}
.contenedoriniciar footer {
  background: linear-gradient(#E5C2D9, #d27fc4);
  color: #000000;
}
.contenedoriniciar footer h4 img {
  width: 50px;
  border-radius: 50%;
}
.contenedoriniciar footer h4 {
  padding: 10px;
  display: inline-block;
}
.contenedoriniciar footer .pie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "horario contacto";
  font-family: cursive;
}
.contenedoriniciar footer .pie .contacto {
  grid-area: contacto;
}
.contenedoriniciar footer .pie .horario {
  grid-area: horario;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .contenedorindex main .intro {
    font-size: 20px;
  }
  .contenedorindex header img {
    width: 100px;
  }
  .contenedorindex footer .pie {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-auto-flow: column;
    grid-template-areas: "horario" "contacto";
  }
  .contenedorindex main .carousel {
    width: 500px;
  }
  .contenedorservicios main .servicios {
    flex-direction: column;
    justify-content: space-around;
  }
  .contenedorservicios main .card {
    width: 300px;
  }
  .contenedorservicios footer .pie {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-auto-flow: column;
    grid-template-areas: "horario" "contacto";
  }
  .contenedorservicios header img {
    width: 100px;
  }
  .contenedornosotras header img {
    width: 100px;
  }
  .contenedornosotras main .nosotras {
    font-size: 20px;
  }
  .contenedornosotras footer .pie {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-auto-flow: column;
    grid-template-areas: "horario" "contacto";
  }
  .contenedorpreguntas header img {
    width: 100px;
  }
  .contenedorpreguntas main .preguntas {
    font-size: 20px;
  }
  .contenedorpreguntas main .lista {
    font-size: 20px;
  }
  .contenedorpreguntas footer .pie {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-auto-flow: column;
    grid-template-areas: "horario" "contacto";
  }
  .contenedoriniciar header img {
    width: 100px;
  }
  .contenedoriniciar main .iniciar .form-control {
    width: 200px;
  }
  .contenedoriniciar main .iniciar .form-label {
    font-size: 20px;
  }
  .contenedoriniciar footer .pie {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-auto-flow: column;
    grid-template-areas: "horario" "contacto";
  }
}
@media screen and (max-width: 600px) {
  .contenedorindex main .intro {
    font-size: 15px;
  }
  .contenedorindex main .carousel {
    width: 300px;
  }
  .contenedorservicios main .card {
    width: 250px;
  }
  .contenedorservicios header img {
    width: 100px;
  }
  .contenedornosotras header img {
    width: 100px;
  }
  .contenedornosotras main .nosotras {
    font-size: 15px;
  }
  .contenedorpreguntas main .preguntas {
    font-size: 15px;
  }
  .contenedorpreguntas main .lista {
    font-size: 15px;
  }
  .contenedoriniciar main .iniciar .form-label {
    font-size: 15px;
  }
}

/*# sourceMappingURL=estilo.css.map */
