*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #ff00ff ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-color: #e611e6;
}
 header div { text-align: center;
 
}
nav {
    padding: 20px;
    margin: 10px;
    background-color: #e611e6;
}
.opciones li {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px; 
}
.opciones {
    list-style: none;
}
.opciones li a {
    text-decoration: none;
}

header div img { width: 200px; 
}
h1 { text-align: center;
    padding: 20px;
}
h2 {text-align: center;
    padding: 20px;
}
p { line-height: 2;
    padding: 20px;
}
main section img {
    width: 400px;
}
main section {
    text-align: center;
}
footer {
    background-color: #e611e6;
    color: black;

   
}
h4 img { 
    width: 50px;
    border-radius: 50%;
   
}
h4 {
    padding: 10px;
display: inline-block;


}
.servicios {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.preguntas { 
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.formulario{
    padding: 10px;
    text-align: left;
    
}
.formulario2 { 
padding: 20px;
}
.nosotras {
    line-height: 2;
    padding: 20px;
}