.contenedornosotras{
    header {
        background-color: $fondoclaro;
        padding: 2rem;
        display: flex;
        grid-area: header;
        justify-content: space-around;
        img {
                width: 200px;
                margin: 50px;
        }
        .navbar {
            padding: 20px;
            margin: 10px;
            background-color: $fondoclaro;
        }
    }
    main{
        .nosotras {
            line-height: 2;
            padding: 20px;
        }
    }
    footer {
        background-color: $fondoclaro;
        color: $negro;
        h4 img {
            width: 50px;
            border-radius: 50%;
        } 
         h4 {
            padding: 10px;
            display: inline-block;
        }
        .pie {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
            "horario contacto";
            .contacto {
                grid-area: contacto;
            }
            .horario {
                grid-area: horario;
                padding: 1rem;
            }
            
        }
}

}