.contenedornosotras{
    header {
        background: linear-gradient( #d27fc4, #E5C2D9);
        padding: 1.5rem;
        display: flex;
        grid-area: header;
        justify-content: space-around;
        img {
                width: 170px;
        }
        .navbar {
      font-family: $letra;
      font-size: larger;
        }
    }
    main{
        .nosotras {
           font-family: $letra;
            padding: 20px;
        }
    }
    footer {
        background: linear-gradient( #E5C2D9, #d27fc4);
        color: $negro;
        h4 img {
            width: 50px;
            border-radius: 50%;
        } 
         h4 {
            padding: 10px;
            display: inline-block;
        }
        .pie {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
            "horario contacto";
            font-family: cursive;
            .contacto {
                grid-area: contacto;
            }
            .horario {
                grid-area: horario;
                padding: 1rem;
            }
            
        }
}

}